<!--TODO - Add a template for signup form -->

{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-xs-10">
        <h1 class="page-header">Signup with Blogz!</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-10">
        <form action="/signup" method="post">

            <div class="form-group">    
                <label for="email">Email</label>
                <input name="email" type="email" value="{{ email }}" class="form-control" required="required">
                <p> {{email_error}} </p>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" required="required">
                <p> {{password_error}} </p>
            </div>

            <div class="form-group">
                <label for="verify">Verify Password</label>
                <input name="verify" type="password" class="form-control" required="required">
                <p> {{password_error}} </p>
            </div>

            <div class="form-group">
                <label for="first_name">First Name</label>
                <input name="first_name" type="text" value="{{ first_name }}" class="form-control" required="required">
            </div>
                
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input name="last_name" type="text" value="{{ last_name }}" class="form-control" required="required">
            </div>
    
            <button type="submit" value="Sign Up" class="btn btn-success">Sign Up</button>
        </form>
    </div>
</div>

{% endblock %}